*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
    font-size: 100%;
}
  
// $lgFontSize: 1.92vw; // 36px
$lgFontSize: 2.2rem; // 36px

$headFontSize: 1.34vw; // 24px

$rgFontSize: 0.864vw; // 16px


// $rgFontSize: 0.76vw; // 14px

// $vhFontSize : 4.3vh;
  
// $smFontSize : 2vmin;

$whiteColor : #ffffff;

$btnColor : #d9534f;

$btnBorderColor : #d43f3a;

$blackBackgroundColor : #222;

$skyblue : #00aeef;

$redColor:#f90009;

$headColor: #404040;

//custom Comon classes

.pdTop1{padding-top:10px}
.pdTop2{padding-top:20px}
.pdTop3{padding-top:30px}
.pdTop4{padding-top:40px}
.pdTop5{padding-top:50px}
.pdTop6{padding-top:60px}
.pdTop7{padding-top:70px}
.pdTop8{padding-top:80px}
.pdTop9{padding-top:90px}
.pdTop10{padding-top:100px}

.pdBottom1{padding-bottom:10px}
.pdBottom2{padding-bottom:20px}
.pdBottom3{padding-bottom:30px}
.pdBottom4{padding-bottom:40px}
.pdBottom5{padding-bottom:50px}
.pdBottom6{padding-bottom:60px}
.pdBottom7{padding-bottom:70px}
.pdBottom8{padding-bottom:80px}
.pdBottom9{padding-bottom:90px}
.pdBottom10{padding-bottom:100px}

.mgb-1{margin-bottom:10px}
.mgb-2{margin-bottom:20px}
.mgb-3{margin-bottom:30px}
.mgb-4{margin-bottom:40px}
.mgb-5{margin-bottom:50px}
.mgb-6{margin-bottom:60px}
.mgb-7{margin-bottom:70px}
.mgb-8{margin-bottom:80px}
.mgb-9{margin-bottom:90px}
.mgb-10{margin-bottom:100px}

.mgt-1{margin-top:10px}
.mgt-2{margin-top:20px}
.mgt-3{margin-top:30px}
.mgt-4{margin-top:40px}
.mgt-5{margin-top:50px}
.mgt-6{margin-top:60px}
.mgt-7{margin-top:70px}
.mgt-8{margin-top:80px}
.mgt-9{margin-top:90px}
.mgt-10{margin-top:100px}

h1{font-size: $lgFontSize; color: $headColor;}

.headWrapper{
    .top__headWrapper{
        .brandLogo{
            img{
                height: 55px;
            }
        }
        .brandSocial{
            ul{
                li{
                    &:nth-child(1) a{
                        padding: 0px 5px;
                        color: $redColor;
                        img{
                            height: 18px;
                        }
                    }
                    &:nth-child(2) a{
                        padding: 0px 5px;
                        img{
                            // width: 18px;
                            height: 18px;
                        }
                    }
                    &:nth-child(3) a{
                        padding: 0px 5px;
                        img{
                            // width: 18px;
                            height: 18px;
                        }
                    }
                    &:nth-child(4) a{
                        padding: 0px 5px;
                        img{
                            // width: 18px;
                            height: 18px;
                        }
                    }
                    &:nth-child(5) a{
                        padding: 0px 5px;
                        img{
                            // width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
    .secondHeader{
        // background-color: $blackBackgroundColor;
        .row{
            @media only screen and (min-width: 768px){
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media only screen and (max-width: 768px){
                display: block;
            }
        }
        .navbar{
            @media only screen and (max-width: 768px){
                display: flow-root;
            }

            a{
                color: $blackBackgroundColor;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 15px;
                padding: 15px;
            }
            .nav-item{
                .dropdown-menu{
                    li a.dropdown-item{
                        &:hover{
                            background-color: $skyblue;
                            color: $whiteColor; 
                        }
                        font-size: 13px;
                        text-transform: capitalize;
                        white-space: inherit;
                    }
                    border: 1px solid $skyblue;
                    border-radius: 0px;
                    width: 240px;
                }
            }
        }
        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
            .navbar .nav-item:hover .nav-link{ color: $blackBackgroundColor;  }
            .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
            .navbar .dropdown-menu.fade-up{ top:180%;  }
            .navbar .nav-item:hover .dropdown-menu{ 
                transition: .6s; 
                opacity:1; 
                visibility:visible; 
                top:100%; 
                transform: rotateX(0deg);
                li{
                    &:hover{
                        background-color: $skyblue;
                        color: $whiteColor; 
                    }
                }
            }
        }	
    }
}

.insp-carousel{
    .carousel-caption{
        background-color: #00000082;
        bottom: 150px;
        padding: 30px;
        h1{
            color: $whiteColor;
        }
    }
    @media all and (min-width: 992px) {
        .carousel-caption{
            right: 20%;
            left: 20%;
        }
    }
}
.services{
    .pdTop6, .pdBottom6{
        @media only screen and (max-width: 768px){
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .graduateIc{
        display: inline-block;
        background-color: #4FCCCD;
        color: $whiteColor;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
        -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
        border-radius: 100%;
        margin: 10px 0;
        width: 86px;
        height: 86px;
        img{
            fill: $whiteColor;
        }
    }
    .groupIc{
        display: inline-block;
        background-color: #cb5933;
        color: $whiteColor;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
        -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
        border-radius: 100%;
        margin: 10px 0;
        width: 86px;
        height: 86px;
    }
    .starIc{
        display: inline-block;
        background-color: #39de9b;
        color: $whiteColor;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
        -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
        border-radius: 100%;
        margin: 10px 0;
        width: 86px;
        height: 86px;
    }

    h2{
        font-size: $headFontSize;
        @media only screen and (max-width: 768px){
            font-size: 22px;
        }
    }
}
.action{
    background-image: url(../images/tour-bg.png);
    background-color: #fbfafa;
    background-repeat: repeat-x;
    height: 157px;
    background-position: center;
    display: table;
    position: relative;
    width: 100%;
    h2{
        font-size: $lgFontSize;
        color: #404040;
        font-weight: 300;
        @media only screen and (max-width: 768px){
            font-size: 22px;
            text-align: center;
        }

    }
    .explore{
        button{
            background-color: $btnColor;
            border-color: $btnBorderColor;
            color: $whiteColor;
            border-radius: 6px;
            padding: 10px 16px;
        }
    }
}
.features{
    h1{
        font-size: $lgFontSize;
        margin: 50px 0px;
        color: #404040;
        @media only screen and (max-width: 768px){
            font-size: 22px;
        }
    }
    .inner__features{
        background-color: #f5f5dc;
        padding: 30px 0px;
        img{
            width: 100%;
        }
    }
    // .portfolio-management{
    //     background: url('../images/portfolio-management.jpg');
    //     height: 400px;
    //     width: 100%;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }
}
.financial{
    img{
        width: 100%;
    }
    padding: 30px 0px;
}
.recruitment{
    background-color: #f5f5dc;
    padding: 30px 0px;
    img{
        width: 100%;
    }
}
.InternshipProgramme{
    padding: 30px 0px;
    img{
        width: 100%;
    }
}
.ProfessionalSkillsDevelopment{
    background-color: #f5f5dc;
    padding: 30px 0px;
    img{
        width: 100%;
    }    
}
.DestressYourTax{
    padding: 30px 0px;
    img{
        width: 100%;
    }
}
.testimonials{
    h1{font-size: 2.2rem;}
    @media only screen and (max-width: 768px){
        h1{font-size: 22px;}
    }
    a{
        color: $redColor;
        // font-size: $rgFontSize;
        font-size: 100%;
    }
    blockquote{
        border-left: 5px solid #eee;
        padding-left:20px;
    }
}  

footer{
        background-image: url(../images/footer.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        h2{
            font-size: $headFontSize;
            @media only screen and (max-width: 768px){
                font-size: 18px;
            }
        }
    // .footerSeparator{
    //     background-image: url(../images/under.png);
    //     height: 200px;
    //     width: 100%;
    //     background-repeat: no-repeat;
    // }
    ul li{
        list-style-type: none;
        a{
            font-size: $rgFontSize;
            @media only screen and (max-width: 768px){
                font-size: 14px;
            }
            color: $redColor;
            &:hover{
                color: #23527c;
                text-decoration: none;
            }
        }
    }
    .copyRightText{
        p{
            color: #000000;
            a{
                color: #3e848a;
            }
        }
    }
}

// About Us
.aboutUs{
    .img__aboutUs{
        background-image: url(../images/aboutUs/why-us.jpg);
        width: 100%;
        height: 350px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

// Our Identity

.ourIdentity{
    h1{
        font-size: 2.2rem;
        @media only screen and (max-width: 768px){
            font-size: 22px;
        }
    }
}